.custom-slider-container {
    width: 100%;
}

.custom-slider {
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: rgb(23, 25, 27);
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

.custom-slider::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 6px;
    background-color: rgb(68, 71, 75) !important;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.37) 0px 1px 4px 0px;
    cursor: pointer;
    border: none;
}

.custom-slider::-moz-range-thumb {
    width: 14px;
    height: 14px;
    border-radius: 6px;
    background-color: rgb(68, 71, 75) !important;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.37) 0px 1px 4px 0px;
    cursor: pointer;
    border: none;
}

.custom-slider::-webkit-slider-track {
    height: 4px;
    border-radius: 2px;
    background: rgb(100, 105, 111);
    border: none;
    outline: none;
}

.custom-slider::-moz-range-track {
    height: 4px;
    border-radius: 2px;
    background: rgb(100, 105, 111);
    border: none;
    outline: none;
}