p {
    margin: 0;
}

* {
    font-family: monospace
}

html, body, #root {
    height: 100%;
    margin: 0;
    font-size: 14px;
}

.form-control {
    background-color: rgb(33, 37, 41);
    color: white;
    border: none;
}

.form-control:focus {
    background-color: rgb(33, 37, 41);
    color: white;
    outline: none;
    box-shadow: rgb(25, 135, 84) 0px 0px 0px 1px;
    background-color: rgb(33, 37, 41);
    color: white;
}

.form-control::placeholder {
    color: rgb(137, 143, 150);
}

.form-control:disabled {
    background-color: rgb(33, 37, 41);
    color: rgb(137, 143, 150);
    cursor: default;
    user-select: none;
}